@model IEnumerable<EbookSystem.Models.Sell>

@{
    ViewBag.Title = "Index";
}

<h2>Browse Books for Sale</h2>

<h3>Search: </h3>

<p>
    @using (Html.BeginForm("SearchIndex", "Browse", FormMethod.Get))
    {
    <p> 
        Title: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
    </p>
    }
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
         <td>
            @Html.DisplayNameFor(model => model.Rating   )
        </td>
         <td>
            @Html.DisplayNameFor(model => model.Comment   )
        </td>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
             <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })|
                @Html.ActionLink("Order", "Order", new { id = item.ID })
            </td>
        </tr>
    }

</table>
